h1 {
  color: black;
}
.square{
  width: 50%;
  height: 200px;
}
body {
   background-color: #FFDDEE;
   padding: 10px;
}
div.inner-container {
    opacity: 0.5;
}

#colorone { background color: #FFDDEE;}

#colortwo { background color: #FFCCEE;}

#colorthree { background color: #FFBBEE;}

#colorfour { background color: #FFAAFF;}
/* I thought out what my color selection
would be without burning my eyes.*/
