h1 {
  color: blue;
}
.square{
  width: 50%;
  height: 200px;
}

#sunset one{ background color: #FFDDEE;}

#sunset two{ background color: #FFCCEE;}

#sunset three{ background color: #FFBBEE;}

#sunset four{ background color: #FFAAFF;}
/* I thought out what my color selection
would be without burning my eyes.*/
