h1 {
  color: red;
}
.square{
  width: 50%;
  height: 200px;
}

#pink { background color: #FF377B;}

#colortwo { background color: #FFCCEE;}

#colorthree { background color: #FFBBEE;}

#colorfour { background color: #FFAAFF;}
/* I thought out what my color selection
would be without burning my eyes.*/
