@import url('https://fonts.google.com/?selection.family=Baskervville');

body {
  font-family: 'Baskervville', serif;
  font-size: 1.25em;
}
/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav {
  float: left;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav: hover {
  background-color: #FFFFFF;
  color: black;
}


.topnav: active {
  background-color: #FFFFFF;
  color: white;
}
